
img.item{
    max-width: 640px;
    max-height: 960px;
}

button.rate{
    width: 70px;
    align-content: left;
}
div.button_row{
    padding-top: 15px; 
}

div.rating{
  text-align: center;
  padding-top: 100px;
}
